<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All students</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css"
          th:href="@{../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{../../css/sb-admin-2.min.css}" rel="stylesheet"
          type="text/css">

</head>

<body id="page-top">


<div id="wrapper">
    <nav th:replace="user-home-page.html :: user1"></nav>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <nav th:replace="user-home-page.html :: user2"></nav>
        </div>

        <div class="header center">
            <p class="text-center p-mar" style="font-weight: 700;font-size: 2rem" th:text="#{all.students}"></p>
        </div>

        </br></br>

        <div class="header-margin-left">
            <form th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${userDtoSearch}" method="post"
                  class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <div style="border-top-left-radius: 8px;border-bottom-left-radius: 8px" class="btn-primary">
                        <h5 class="p-text" th:text="#{students.search}"></h5>
                    </div>
                    <select th:class="select-css" th:field="*{searchBy}">
                        <option th:text="#{search.select}" value="0" selected></option>
                        <option value="Email">Email</option>
                        <option value="Phone number">Phone number</option>
                        <option value="First name">First name</option>
                        <option value="Last name">Last name</option>
                    </select>
                    <input th:class="select-css" th:field="*{value}" type="text"
                           class="form-control bg-light border-0 small" placeholder="Enter search param."
                           aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="container-fluid position-content">
            <!--insert content-->

            </br></br>

            <table class="table-backgraound table table-striped table-bordered ">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{user.label.id}">User ID</th>
                    <th scope="col" th:text="#{user.label.first.name}">First name</th>
                    <th scope="col" th:text="#{user.label.last.name}">Last name</th>
                    <th scope="col" th:text="#{user.label.email}">Email</th>
                    <th th:if="${isAuthorised}" scope="col" th:text="#{user.label.view.profile}">View</th>
                    <th th:if="${isAdmin}" scope="col" th:text="#{user.label.delete}">Delete</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${allStudents}">
                    <th scope="row" th:text="${user.id}"></th>
                    <td th:text="${user.getFirstName()}">John</td>
                    <td th:text="${user.getLastName()}">Doe</td>
                    <td th:text="${user.getEmail()}">emial@email.com</td>
                    <td th:if="${isAuthorised}"><a class="btn btn-success btn-block "
                                                   th:href="@{/users/{id}(id=${user.getId()})}"
                                                   th:text="#{user.label.view.profile}" th:method="get">View profile</a>
                    </td>

                    <td th:if="${isAdmin}"><a class="btn btn-danger btn-block "
                                              th:href="@{/users/{id}/delete(id=${user.getId()})}"
                                              th:text="#{user.label.delete}" th:method="post">Delete</a></td>

                </tr>
                </tbody>
            </table>


            <!--content end-->
        </div>


    </div>
</div>

<!--scroll-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<nav th:replace="user-home-page.html :: user3"></nav>


<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{../../vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="../static/js/sb-admin-2.min.js" th:src="@{../../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script type="text/javascript" src="../static/vendor/chart.js/Chart.min.js"
        th:src="@{../../vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="../static/js/demo/chart-area-demo.js"
        th:src="@{../../js/demo/chart-area-demo.js}"></script>
<script type="text/javascript" src="../static/js/demo/chart-pie-demo.js"
        th:src="@{../../js/demo/chart-pie-demo.js}"></script>

</body>

</html>