<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" th:href="@{../css/styles.css}" rel="stylesheet"/>


    <title>All published courses</title>
</head>
<body>
<div class="wallpaper">
    <video autoplay muted loop id="myVideo">
        <source th:src="@{/video/video-background.mp4}" src="../static/video/video-background.mp4" type="video/mp4">
    </video>
</div>


<section class=".page-section-update bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">active courses</h2>
            <h3 class="section-subheading text-muted">Leading IT technologies</h3>
        </div>

        <div class="center-btn">
        <a class="btn btn-warning border-btn mar-right" th:href="@{/courses/all/sort}" href="#">Sort Courses</a>
        <br>
        <a class="btn btn-warning mar-top-btn border-btn" th:href="@{/courses/all/filter}" href="#">Filter Courses </a>
        </div>

        <br><br>

        <div class="row">
            <div th:each="course : ${courses}" class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item" data-bs-toggle="">

                    <a class="portfolio-link" data-bs-toggle="modal" th:href="'#portfolioModal' + ${course.id}">

                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid"
                             th:src="${course.picture != null ? course.picture : 'https://leverageedu.com/blog/wp-content/uploads/2019/08/Toughest-Courses-in-the-World.jpg'}"
                             alt="'Image of ' + ${course.title} + 'course logo'"/>
                    </a>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading" th:text="${course.title}">Course Title</div>
                    </div>
                </div>
                <!--modal-->
                <div class="popup portfolio-modal modal fade" th:id="'portfolioModal' + ${course.id}"
                     tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="close-modal" data-bs-dismiss="modal"><img th:src="@{../assets/img/close-icon.svg}"
                                                                                  alt="Close modal"/></div>

                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">

                                        <div class="modal-body">
                                            <!-- Project details-->
                                            <h2 class="text-uppercase" th:text="${course.title}"></h2>
                                            <img class="img-fluid d-block mx-auto logo-size-popup"
                                                 th:src="${course.picture != null ? course.picture : 'https://leverageedu.com/blog/wp-content/uploads/2019/08/Toughest-Courses-in-the-World.jpg'}"
                                                 alt="'Image of ' + ${course.title} + 'course logo'"/>
                                            <h5 class="text-uppercase" th:text="'Topic'"></h5>
                                            <h4 class="text-uppercase" th:text="${course.topic.name}"></h4>
                                            <div class="portfolio-caption-subheading text-muted "
                                                 th:text="${course.description}">Course
                                                Description
                                            </div>
                                            <button class="btn btn-primary btn-xl text-uppercase"
                                                    data-bs-dismiss="modal"
                                                    type="button">
                                                Close Preview
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!--                modal end-->
            </div>

        </div>

        <div class="center-btn margin-top margin-bot">
            <form th:action="@{/}">
                <input class="btn-primary btn-xl border-btn" type="submit" value="HOME PAGE"/>
            </form>
        </div>

    </div>
</section>
</br></br></br></br></br>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>