<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Approve users</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css"
          th:href="@{../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{../../css/sb-admin-2.min.css}" rel="stylesheet"
          type="text/css">

</head>

<body id="page-top">


<div id="wrapper">
    <nav th:replace="user-home-page.html :: user1"></nav>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <nav th:replace="user-home-page.html :: user2"></nav>
        </div>

        <div class="header center">
            <p class="text-center p-mar" style="font-weight: 700;font-size: 2rem" th:text="'Users role position requests'"></p>
        </div>

        </br></br>

        <div class="container-fluid">
            <!--insert content-->



            <h1 style="margin-top: 8rem" th:if="${userToBeApprove.isEmpty()}" class="center" th:text="#{user.aprove.none}">Requests not found</h1>



            <div th:unless="${userToBeApprove.isEmpty()}">


                <table class="table-backgraound table table-striped table-bordered ">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" th:text="#{user.label.id}">User ID</th>
                        <th scope="col" th:text="#{user.label.first.name}">First name</th>
                        <th scope="col" th:text="#{user.label.last.name}">Last name</th>
                        <th scope="col" th:text="#{requested.role}">Requested role</th>
                        <th scope="col" th:text="#{requested.label.approve}">Approve request</th>
                        <th scope="col" th:text="#{requested.label.reject}">Reject request</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="roleRequest : ${userToBeApprove}">
                        <th scope="row" th:text="${roleRequest.id}"></th>
                        <td th:text="${roleRequest.getUser().getFirstName()}">John</td>
                        <td th:text="${roleRequest.getUser().getLastName()}">Doe</td>
                        <td th:text="${roleRequest.getRole().getName()}">Teacher</td>
                        <td><a class="btn btn-success btn-block "
                               th:href="@{/role-request/{id}/approve(id=${roleRequest.getId()})}"
                               th:text="#{roleRequest.approve}" th:method="post">Approve request</a></td>
                        <td><a class="btn btn-danger btn-block "
                               th:href="@{/role-request/{id}/delete(id=${roleRequest.getId()})}"
                               th:text="#{roleRequest.delete}" th:method="post">Reject Request</a></td>


                    </tr>
                    </tbody>
                </table>
            </div>
            <!--content end-->
        </div>
    </div>
</div>

<!--scroll-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<nav th:replace="user-home-page.html :: user3"></nav>


<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{../../vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="../static/js/sb-admin-2.min.js" th:src="@{../../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script type="text/javascript" src="../static/vendor/chart.js/Chart.min.js"
        th:src="@{../../vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="../static/js/demo/chart-area-demo.js"
        th:src="@{../../js/demo/chart-area-demo.js}"></script>
<script type="text/javascript" src="../static/js/demo/chart-pie-demo.js"
        th:src="@{../../js/demo/chart-pie-demo.js}"></script>

</body>

</html>