<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grade Assignment</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css"
          th:href="@{../../../../../../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{../../../../../../../css/sb-admin-2.min.css}" rel="stylesheet"
          type="text/css">

</head>

<body id="page-top">


<div id="wrapper">
    <nav th:replace="user-home-page.html :: user1"></nav>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <nav th:replace="user-home-page.html :: user2"></nav>
        </div>

        <div class="header center">
            <p class="text-center p-mar" style="font-weight: 700;font-size: 2rem"
               th:text="'Grade Assignment'"></p>
        </div>

        <div class="container-fluid position-content">

            <div>
                <div class="div-image">
                    <img class="img-back"
                         src="https://scontent.fsof8-1.fna.fbcdn.net/v/t1.6435-9/243985659_117093960719040_6114751447206393583_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=tXk6tBtuouQAX9d6R9l&_nc_oc=AQnGBZdoldjUjxiWAjo_BBKS7VrOqPiCCkOCxRdNnPiZ_gVRypNmbdyPSRu4YnJ5Jw0&tn=k7FLxfy0cXbHzoKW&_nc_ht=scontent.fsof8-1.fna&oh=c9cda6e7eeadcc49e8c907616d3dc942&oe=6180BCAB"/>
                </div>

                <div class="position">
                    <div style="display: inline-block;">
                        <div style="width: 680px;" class="position">
                            <div style="margin-top: 1.2rem" class="text-center">
                                <h5 style="font-weight: 600" class="black" th:text="'Student'">Course</h5>
                            </div>
                            <div style="margin-top: .5rem" class="text-center">
                                <h2 class="black margin-bot-header-lecture"
                                    th:text="${assignment.user.firstName} + ' ' +${assignment.user.lastName}">course
                                    title</h2>
                            </div>


                            <hr>
                                    <div style="margin-top: 2rem" class="text-center">
                                        <h5 style="font-weight: 600" class="black margin-bot-header-update"
                                            th:text="'Course'">Course</h5>
                                    </div>
                                    <div style="margin-top: .5rem;" class="text-center">
                                        <h2 class="black margin-bot-header-lecture" th:text="${course.title}">course
                                            title</h2>
                                    </div>

                            <hr>

                                    <div style="margin-top: 2rem" class="text-center">
                                        <h5 style="font-weight: 600" class="black margin-bot-header-update"
                                            th:text="'Lecture'">Lecture</h5>
                                    </div>
                                    <div style="margin-top: .5rem" class="text-center">
                                        <h2 class="black margin-bot-header-lecture" th:text="${lecture.title}">lecture
                                            title</h2>
                                    </div>

                            <hr>

                            <div style="margin-top: 2rem" class="text-center">
                                <h5 style="font-weight: 600" class="black margin-bot-header-update"
                                    th:text="'Assignment Description'">ass disc</h5>
                            </div>
                            <div style="margin-top: .5rem" class="text-center">
                                <h3 class="black margin-bot-header-lecture" th:text="${lecture.assignmentDescription}">
                                    ass
                                    disc</h3>
                            </div>

                            <hr>

                            <div class="text-center">
                                <h2 style="margin-top: 2rem;font-weight: 600" class="black margin-bot-header-update"
                                    th:text="'Enter Grade'">Title</h2>
                            </div>
                            <div class="text-center">
                                <h5 style="margin-bottom: 1.5rem" class="black" th:text="'Real number between 2 and 6'">
                                    Title</h5>
                            </div>
                            <div class="center justify-content-center">
                                <form th:class="center" th:action="@{__${#httpServletRequest.requestURI}__}"
                                      th:object="${gradeDto}" method="post"
                                      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group">
                                        <div class="center">
                                            <input style="width: 75%;height: 3rem;border: black 2px solid;"
                                                   type="number"
                                                   step="0.01"
                                                   th:field="*{grade}" class="form-control">
                                        </div>

                                        <div class="center">
                                            <button class="btn btn-size-update-course btn-size-border btn-primary enroll-text"
                                                    type="submit">Grade Assignment
                                            </button>
                                        </div>
                                        <label style="color: red" th:errors="*{grade}">First Name error placeholder</label>

                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                    <div style="display: inline-block; margin-left: 15rem">
                        <div style="width: 650px;" class="position div-mar-left">
                            <div style="margin-top: 1.5rem" class="text-center margin-bot-header-lecture">
                                <h4 style="font-weight: 600" class="black margin-bot-header-update"
                                    th:text="'User uploaded assignment'">ass disc</h4>
                            </div>
                            <div class="center">
                                <iframe style="border: black 2px solid;background: white" th:src="${assignment.filePath}" frameborder="1"
                                        height="650" width="100%"></iframe>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

<!--scroll-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<nav th:replace="user-home-page.html :: user3"></nav>


<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{../../../../../../../vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../../../../../../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{../../../../../../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="../static/js/sb-admin-2.min.js" th:src="@{../../../../../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script type="text/javascript" src="../static/vendor/chart.js/Chart.min.js"
        th:src="@{../../../../../../../vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="../static/js/demo/chart-area-demo.js"
        th:src="@{../../../../../../../js/demo/chart-area-demo.js}"></script>
<script type="text/javascript" src="../static/js/demo/chart-pie-demo.js"
        th:src="@{../../../../../../../js/demo/chart-pie-demo.js}"></script>

</body>

</html>