<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All Assignments to be grated - Filtered</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css"
          th:href="@{../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{../../css/sb-admin-2.min.css}" rel="stylesheet"
          type="text/css">

</head>

<body id="page-top">


<div id="wrapper">
    <nav th:replace="user-home-page.html :: user1"></nav>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <nav th:replace="user-home-page.html :: user2"></nav>
        </div>

        <div class="header center">
            <p class="text-center p-mar" style="font-weight: 700;font-size: 2rem"
               th:text="'All assignments to be grated'"></p>
        </div>

        </br></br>

        <div class="center buttons-margin-bot">
            <form th:class="center" th:action="@{__${#httpServletRequest.requestURI}__}"
                  th:object="${searchAssignmentDto}" method="post"
                  class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <div style="border-top-left-radius: 8px;border-bottom-left-radius: 8px" class="btn-primary">
                        <h5 class="p-text" th:text="#{filter.label}"></h5>
                    </div>
                    <select th:class="select-css" th:field="*{searchBy}">
                        <option th:text="#{search.select}" value="0" selected></option>
                        <option value="User full name">User full name</option>
                        <option value="Course title">Course title</option>
                        <option value="Lecture title">Lecture title</option>
                    </select>
                    <input th:class="select-css" th:field="*{value}" type="text"
                           class="form-control bg-light border-0 small" placeholder="Enter filter param."
                           aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="container-fluid">
            <!--insert content-->
            <div class="row">
                <div th:each="assignment : ${assignments}" class="col-lg-4 col-sm-6 mb-4">
                    <div class="course-border">
                        <div class="portfolio-item" data-bs-toggle="">

                            <div class="center">
                                <img class="img-fluid img-max-size"
                                     th:src="@{../../uploads/assignment-icon.png}"
                                     alt="'Image of lecture icon'"/>
                            </div>

                            <div style="border-top-left-radius: 8px;border-top-right-radius: 8px" class="text-center">
                                <h6 class="darkGray margin-bottom-0 padding-header-top font-h" th:text="'Student'">
                                    Student</h6>
                            </div>
                            <div class="text-center border-bot-left-right">
                                <h4 class="black font-h"
                                    th:text="${assignment.user.firstName} + ' ' + ${assignment.user.lastName}">
                                    Student</h4>
                            </div>
                            <hr>
                            <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                                 class="text-center">
                                <h6 class="darkGray margin-bottom-0 font-h" th:text="'Course'">course</h6>
                            </div>
                            <div class="text-center border-bot-left-right">
                                <h4 class="black font-h" th:text="${assignment.course.title}">course</h4>
                            </div>
                            <hr>
                            <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                                 class="text-center">
                                <h6 class="darkGray margin-bottom-0 font-h" th:text="'Lecture'">lecture</h6>
                            </div>
                            <div class="text-center border-bot-left-right">
                                <h4 class="black font-h" th:text="${assignment.lecture.title}">lecture</h4>
                            </div>
                            <hr>
                            <div class="center grade-mar-bot">
                                <a class="btn btn-warning btn-xl btn-border-warning text-uppercase border-btn"
                                   th:href="@{../../../courses/{courseId}/lectures/{id}/assignment(courseId=${assignment.course.getId()}, id=${assignment.lecture.getId()})}"
                                   href="#">Grade Assignment </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!--content end-->
    </div>
</div>
</div>

<!--scroll-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<nav th:replace="user-home-page.html :: user3"></nav>


<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{../../vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="../static/js/sb-admin-2.min.js" th:src="@{../../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script type="text/javascript" src="../static/vendor/chart.js/Chart.min.js"
        th:src="@{../../vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="../static/js/demo/chart-area-demo.js"
        th:src="@{../../js/demo/chart-area-demo.js}"></script>
<script type="text/javascript" src="../static/js/demo/chart-pie-demo.js"
        th:src="@{../../js/demo/chart-pie-demo.js}"></script>

</body>

</html>