<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Change user photo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-8">
            <div class="text-center card-box">
                <div class="member-card">
                    <div class="thumb-xl member-thumb m-b-10 center-block">
                        <img class="img-circle img-thumbnail" alt="profile-image"
                             th:src="${session.user.profilePicture}">
                        <!--            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-circle img-thumbnail" alt="profile-image">-->
                    </div>

                    <div class="">
                        <h4 class="m-b-5" th:text="${session.user.firstName}">John J. Doe</h4>
                        <!--            <p class="text-muted" th:text="${session.user.email}">@johndoe.com</p>-->
                    </div>
                    <!--                    <div class="align-content-center">-->
                    <!--                        <a class="btn btn-primary btn-xl mar-top text-uppercase space-right border-btn" th:href="@{/login}" href="#services"> Log in </a>-->
                    <!--                        <a class="btn btn-primary btn-xl mar-top text-uppercase border-btn" th:href="@{/register}" href="#services">Register</a>-->
                    <!--                    </div>-->

                    <form enctype="multipart/form-data" th:action="@{__${#httpServletRequest.requestURI}__}"
                          th:object="${newPhoto}" method="post">
                        <input type="file" th:field="*{file}" required/>
                        <button type="submit" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Change
                            Photo
                        </button>
                    </form>
                    <!--                    <form>-->
                    <!--                        <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Delete Photo</button>-->
                    <!--                    </form>-->
                    <div class="text-left m-t-40">
                        <p th:text="'Full Name: ' + ${session.user.firstName} +' '+ ${session.user.lastName}"
                           class="text-muted font-13"><strong>Full Name :</strong> <span
                                class="m-l-15">Johnathan Deo</span>
                        </p>
                        <p th:text="'Phone number: ' + ${session.user.phoneNumber}"
                           class="text-muted font-13"><strong>Mobile :</strong><span
                                class="m-l-15">(123) 123 1234</span>
                        </p>
                        <p th:text="'Email: ' + ${session.user.email}" class="text-muted font-13">
                            <strong>Email :</strong> <span class="m-l-15">johndoe@bootdey.com</span></p>
                        <!--            <p class="text-muted font-13"><strong>Location :</strong> <span class="m-l-15">USA</span></p>-->
                    </div>

                    <ul class="social-links list-inline m-t-30">
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                               href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                               href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                               href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                        </li>
                    </ul>
                </div>
            </div> <!-- end card-box -->

        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>

<style type="text/css">
    body {
        margin-top: 20px;
        background: #f5f5f5;
    }

    /* ===========
       Profile
     =============*/
    .card-box {
        padding: 20px;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06), 0 2px 0 0 rgba(0, 0, 0, 0.02);
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-clip: padding-box;
        margin-bottom: 20px;
        background-color: #ffffff;
    }

    .header-title {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.04em;
        line-height: 16px;
        margin-bottom: 8px;
    }

    .social-links li a {
        -webkit-border-radius: 50%;
        background: #EFF0F4;
        border-radius: 50%;
        color: #7A7676;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 30px;
    }

    /* ===========
       Gallery
     =============*/
    .portfolioFilter a {
        -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.3s ease-out;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
        color: #333333;
        padding: 5px 10px;
        display: inline-block;
        transition: all 0.3s ease-out;
    }

    .portfolioFilter a:hover {
        background-color: #228bdf;
        color: #ffffff;
    }

    .portfolioFilter a.current {
        background-color: #228bdf;
        color: #ffffff;
    }

    .thumb {
        background-color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        margin-top: 30px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        width: 100%;
    }

    .thumb-img {
        border-radius: 2px;
        overflow: hidden;
        width: 100%;
    }

    .gal-detail h4 {
        margin: 16px auto 10px auto;
        width: 80%;
        white-space: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .gal-detail .ga-border {
        height: 3px;
        width: 40px;
        background-color: #228bdf;
        margin: 10px auto;
    }

    .img-restriction {
        width: 100%;
        max-width: 200px;
        height: 100%;
        max-height: 160px;
    }


    .tabs-vertical-env .tab-content {
        background: #ffffff;
        display: table-cell;
        margin-bottom: 30px;
        padding: 30px;
        vertical-align: top;
    }

    .tabs-vertical-env .nav.tabs-vertical {
        display: table-cell;
        min-width: 120px;
        vertical-align: top;
        width: 150px;
    }

    .tabs-vertical-env .nav.tabs-vertical li.active > a {
        background-color: #ffffff;
        border: 0;
    }

    .tabs-vertical-env .nav.tabs-vertical li > a {
        color: #333333;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        white-space: nowrap;
    }

    .nav.nav-tabs > li.active > a {
        background-color: #ffffff;
        border: 0;
    }

    .nav.nav-tabs > li > a {
        background-color: transparent;
        border-radius: 0;
        border: none;
        color: #333333 !important;
        cursor: pointer;
        line-height: 50px;
        font-weight: 500;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Roboto', sans-serif;
    }

    .nav.nav-tabs > li > a:hover {
        color: #228bdf !important;
    }

    .nav.tabs-vertical > li > a {
        background-color: transparent;
        border-radius: 0;
        border: none;
        color: #333333 !important;
        cursor: pointer;
        line-height: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav.tabs-vertical > li > a:hover {
        color: #228bdf !important;
    }

    .tab-content {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        color: #777777;
    }

    .nav.nav-tabs > li:last-of-type a {
        margin-right: 0px;
    }

    .nav.nav-tabs {
        border-bottom: 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    .navtab-custom li {
        margin-bottom: -2px;
    }

    .navtab-custom li a {
        border-top: 2px solid transparent !important;
    }

    .navtab-custom li.active a {
        border-top: 2px solid #228bdf !important;
    }

    .nav-tab-left.navtab-custom li a {
        border: none !important;
        border-left: 2px solid transparent !important;
    }

    .nav-tab-left.navtab-custom li.active a {
        border-left: 2px solid #228bdf !important;
    }

    .nav-tab-right.navtab-custom li a {
        border: none !important;
        border-right: 2px solid transparent !important;
    }

    .nav-tab-right.navtab-custom li.active a {
        border-right: 2px solid #228bdf !important;
    }

    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus,
    .tabs-vertical-env .nav.tabs-vertical li.active > a {
        border: none;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover,
    .tabs-vertical > li.active > a,
    .tabs-vertical > li.active > a:focus,
    .tabs-vertical > li.active > a:hover {
        color: #228bdf !important;
    }

    .nav.nav-tabs + .tab-content {
        background: #ffffff;
        margin-bottom: 20px;
        padding: 20px;
    }

    .progress.progress-sm .progress-bar {
        font-size: 8px;
        line-height: 5px;
    }


</style>

<script type="text/javascript">

</script>
</body>
</html>