<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All Courses</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css"
          th:href="@{../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{../../css/sb-admin-2.min.css}" rel="stylesheet"
          type="text/css">

</head>

<body id="page-top">


<div id="wrapper">
    <nav th:replace="user-home-page.html :: user1"></nav>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <nav th:replace="user-home-page.html :: user2"></nav>
        </div>

        <div class="header center">
            <p class="text-center p-mar" style="font-weight: 700;font-size: 2rem"
               th:text="'Add lectures to course'"></p>
        </div>


        <div class="container-fluid">
            <!--insert content-->


            <div >
                <h2 class="text-center" th:text="'Course'"></h2>
                <h1 class="text-center" th:text="${courseToAddLecture.title}"></h1>
            </div>
            </br>


            <h4 class="text-center" th:text="#{courses.lectures}"></h4>

            <h2 th:if="${courseLectures.isEmpty()}" class="text-center" th:text="'There are no assigned lectures to this course.'"></h2>

            <table th:unless="${courseLectures.isEmpty()}" class="table-backgraound table table-striped table-bordered ">
                <thead class="thead-dark">
                <tr>
                    <th width="5%" scope="col" th:text="#{lecture.label.id}"> ID</th>
                    <th width="25%" scope="col" th:text="#{user.label.title}">Title</th>
                    <th scope="col" th:text="#{user.label.description}">Descr</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lecture : ${courseLectures}">
                    <th scope="row" th:text="${lecture.getId()}">1</th>
                    <td th:text="${lecture.getTitle()}">Title Example</td>
                    <td th:text="${lecture.getDescription()}">Description Example</td>
                </tr>
                </tbody>
            </table>

            </br>

            <hr>

            </br>

            <h4 class="text-center" th:text="'Available Lectures to add'"></h4>

            <table class="table-backgraound table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th width="5%" scope="col" th:text="#{lecture.label.id}">User ID</th>
                    <th width="25%" scope="col" th:text="#{user.label.title}">First name</th>
                    <th width="50%" scope="col" th:text="#{user.label.description}">Last name</th>
                    <th width="20%" scope="col" th:text="'Add Lecture to Course'">Last name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lecture : ${allLectures}">
                    <div th:if="${!courseLectures.contains(lecture)}">
                        <th scope="row" th:text="${lecture.getId()}">1</th>
                        <td th:text="${lecture.getTitle()}">Title Example</td>
                        <td th:text="${lecture.getDescription()}">Description Example</td>

                        <form role="form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                              th:object="${lectureDto}" method="post">

                            <div class="form-group">
                               <span style="display: none">
                                <select type="hidden" th:field="*{lectureId}">
                                    <option th:text="#{search.select}" th:value="${lecture.id}" selected></option>
                                </select>
                                    </span>
                            </div>
                            <label class="error" th:errors="*{lectureId}">Lecture ID error placeholder</label>
                            <td>
                                <button style="width: 20rem" class="btn btn-success btn-border-succsess" type="submit">
                                    Add Lecture
                                </button>
                            </td>
                        </form>
                    </div>
                </tr>
                </tbody>
            </table>


            <!--content end-->
        </div>
    </div>
</div>

<!--scroll-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<nav th:replace="user-home-page.html :: user3"></nav>


<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{../../vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="../static/js/sb-admin-2.min.js" th:src="@{../../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script type="text/javascript" src="../static/vendor/chart.js/Chart.min.js"
        th:src="@{../../vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="../static/js/demo/chart-area-demo.js"
        th:src="@{../../js/demo/chart-area-demo.js}"></script>
<script type="text/javascript" src="../static/js/demo/chart-pie-demo.js"
        th:src="@{../../js/demo/chart-pie-demo.js}"></script>

</body>

</html>