<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Selected Course</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css"
          th:href="@{../../../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{../../../../css/sb-admin-2.min.css}" rel="stylesheet"
          type="text/css">

</head>

<body id="page-top">


<div id="wrapper">
    <nav th:replace="user-home-page.html :: user1"></nav>

    <div id="content-wrapper" style="font-weight: 700 !important;" class="d-flex flex-column align-content-center">

        <!-- Main Content -->
        <div id="content">
            <nav th:replace="user-home-page.html :: user2"></nav>

        </div>

        <div class="container-fluid position-content align-content-center">
            <!--insert content-->

            <div class="center buttons-margin-bot">
                <a th:if="${isAuthorised}"
                   style="color: black;border: black 3px solid" class="btn btn-xl margin-left text-uppercase btn-black"
                   th:href="@{/courses/{id}/update(id=${course.getId()})}" href="#">Modify </a>
                <a th:if="${isAuthorised}"
                   style="color: black;border: black 3px solid" class="btn btn-xl margin-left text-uppercase btn-black"
                   th:href="@{/courses/{id}/upload/picture(id=${course.getId()})}" href="#">Upload Picture </a>
                <a th:if="${isAuthorised}"
                   style="color: black;border: black 3px solid" class="btn btn-xl margin-left text-uppercase btn-black"
                   th:href="@{/courses/{id}/lectures(id=${course.getId()})}" href="#">Add Lecture </a>
                <a th:if="${isAuthorised}"
                   style="color: black;border: black 3px solid" class="btn btn-xl margin-left text-uppercase btn-black"
                   th:href="@{/lectures/create}" href="#">Create Lecture </a>
                <a th:if="${isAdmin}"
                   style="color: black;border: black 3px solid" class="btn btn-xl margin-left text-uppercase btn-black"
                   th:href="@{/courses/{id}/delete(id=${course.getId()})}" href="#">Delete</a>
            </div>

            <div class="grid-container">
                <div class="grid-child center">
                    <img class="img-fluid course-photo-size"
                         th:src="${course.picture != null ? course.picture : 'https://leverageedu.com/blog/wp-content/uploads/2019/08/Toughest-Courses-in-the-World.jpg'}"
                         th:alt="'Image of ' + ${course.title} + 'course logo'"/>
                </div>

                <div class="grid-child">

                    <!--                        TITLE-->
                    <div class="header-mar-bottom">
                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                             class="text-center div-color-gray">
                            <h4 class="darkGray margin-bottom-0" th:text="'Title'">Title</h4>
                        </div>
                        <div class="text-center div-color-gray border-bot-left-right">
                            <h2 class="black" th:text="${course.title}">Title</h2>
                        </div>
                    </div>
                    <!--                    TOPIC-->
                    <div class="header-mar-bottom">
                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                             class="text-center div-color-gray">
                            <h4 class="darkGray margin-bottom-0" th:text="'Topic'">Title</h4>
                        </div>
                        <div class="text-center div-color-gray border-bot-left-right">
                            <h2 class="black " th:text="${course.topic.name}">Topic</h2>
                        </div>
                    </div>

                    <!--                    RATING-->
                    <div class="header-mar-bottom">
                    <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                         class="text-center div-color-gray">
                        <h4 class="darkGray margin-bottom-0" th:text="'Rating'">Title</h4>
                    </div>
                    <div class="text-center div-color-gray border-bot-left-right">
                        <h2 class="black " th:text="${course.rating}">Rating</h2>
                    </div>
                    </div>

                    <div th:if="${course.isPublished()}" class="enroll-margin-top">
                        <div>
                            <div th:if="${course.hasDateOccurred()}">
                                <form th:if="${!session.user.userCourses.contains(course)}" role="form" action="#"
                                      th:action="@{/users/enroll/course/{id}(id=${course.getId()})}"
                                      method="post">
                                    <button class="btn btn-size-enroll btn-size-border btn-primary enroll-text"
                                            type="submit">Enroll Course
                                    </button>
                                </form>
                                <div th:if="${session.user.userCourses.contains(course)}">
                                    <div th:if="${isCourseCompleted}">
                                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                                             class="text-center div-color-gray">
                                            <h4 class="darkGray margin-bottom-0" th:text="'Status'">date</h4>
                                        </div>
                                        <div class="text-center div-color-gray border-bot-left-right">
                                            <h2 class="black " th:text="'Completed'">Starting date</h2>
                                        </div>
                                    </div>
                                    <div th:unless="${isCourseCompleted}">
                                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                                             class="text-center div-color-gray">
                                            <h4 class="darkGray margin-bottom-0" th:text="'Status'">date</h4>
                                        </div>
                                        <div class="text-center div-color-gray border-bot-left-right">
                                            <h2 class="black " th:text="'Enrolled'">Starting date</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:unless="${course.hasDateOccurred()}">
                                <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                                     class="text-center div-color-gray">
                                    <h4 class="darkGray margin-bottom-0" th:text="'Course release date'">date</h4>
                                </div>
                                <div class="text-center div-color-gray border-bot-left-right">
                                    <h2 class="black " th:text="${course.startingDate}">Starting date</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${course.isPublished()}">
                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                             class="text-center div-color-gray">
                            <h4 class="darkGray margin-bottom-0" th:text="'Status'">date</h4>
                        </div>
                        <div class="text-center div-color-gray border-bot-left-right">
                            <h2 class="black " th:text="'Draft'">Starting date</h2>
                        </div>
                    </div>

                </div>


                <div class="grid-child ">
                    <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                         class="text-center div-color-gray ">
                        <h4 class="darkGray margin-bottom-0" th:text="'Teachers'">Title</h4>
                    </div>
                    <div th:if="${courseTeachers.isEmpty()}" class="text-center div-color-gray border-bot-left-right">
                        <h2 class="black "
                            th:text="#{no.teachers.assigned}">no teachers</h2>
                    </div>
                    <div th:unless="${courseTeachers.isEmpty()}"
                         class="text-center div-color-gray border-bot-left-right">
                        <h2 class="black"
                            th:each="user : ${courseTeachers}"
                            th:text="${user.firstName} + ' ' + ${user.lastName}">Teacher</h2>
                    </div>
                    <div class="center">
                        <form th:if="${isAuthorised}" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                              th:object="${addTeacherDto}" method="post">

                            <select class="add-teacher-select" th:field="*{teacherId}">
                                <option th:text="#{add.teacher.label}" value="0" selected></option>
                                <option th:if="${allTeachers.isEmpty()}" th:text="#{add.teacher.label.empty}" value="0"
                                        selected></option>
                                <option th:unless="${allTeachers.isEmpty()}" th:each="user : ${allTeachers}"
                                        th:value="${user.getId()}"
                                        th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"
                                        id="Topic">
                                </option>
                            </select>

                            <button style="color: black;border: black 3px solid" class="btn btn-xl text-uppercase btn-black"
                                    type="submit">Add teacher</button>
                        </form>
                    </div>
                </div>

            </div>

            <div class="text-center">
                <h5 class="descr-header-mar-bot" th:text="'Description'">Description</h5>
            </div>

            <div class="center decription-margin justify-content-center">
                <div>
                    <h4 class="darkGray text-center" th:text="${course.description}">Description</h4>
                </div>
            </div>


            <!--            LECTURES-->
            <hr>

            <div class="text-center">
                <h5 class="descr-header-mar-bot" th:text="'Lectures'">Description</h5>
            </div>

            <div th:if="${course.courseLectures.isEmpty()}">
                <div class="text-center">
                    <h2 class="descr-header-mar-bot" th:text="'There are no assigned lectures'">Description</h2>
                </div>
            </div>
            <div th:unless="${course.courseLectures.isEmpty()}" style="margin-bottom: 2rem" class="grid-container-lectures">
                <div th:each="lecture : ${course.courseLectures}" style="border-radius: 10px"
                     class="grid-child lecture-border">
                    <div class="portfolio-item" data-bs-toggle="">

                        <a th:href="@{../../courses/{courseId}/lectures/{id}(courseId=${course.getId()}, id=${lecture.getId()})}">
                            <img class="img-fluid"
                                 th:src="'https://i.pinimg.com/originals/97/9c/1d/979c1d57247a15f9afef8463754bceed.gif'"
                                 alt="'Image of lecture icon'"/>

                            <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                                 class="text-center div-color-gray lecture-padding">
                                <h6 class="darkGray margin-bottom-0" th:text="'Title'">Title</h6>
                            </div>
                            <div class="text-center div-color-gray border-bot-left-right lecture-paddingfen">
                                <h4 class="black " th:text="${lecture.title}">Title</h4>
                            </div>

                        </a>


                    </div>
                </div>
            </div>


            <!--content end-->
        </div>


    </div>
</div>

<!--scroll-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<nav th:replace="user-home-page.html :: user3"></nav>


<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{../../../../vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../../../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{../../../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="../static/js/sb-admin-2.min.js"
        th:src="@{../../../../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script type="text/javascript" src="../static/vendor/chart.js/Chart.min.js"
        th:src="@{../../../../vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="../static/js/demo/chart-area-demo.js"
        th:src="@{../../../../js/demo/chart-area-demo.js}"></script>
<script type="text/javascript" src="../static/js/demo/chart-pie-demo.js"
        th:src="@{../../../../js/demo/chart-pie-demo.js}"></script>

</body>

</html>