<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Teacher Home Page </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" th:href="@{../css/styles.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<div class="wallpaper">
    <video autoplay muted loop id="myVideo">
        <source th:src="@{/video/video-background.mp4}" src="../static/video/video-background.mp4" type="video/mp4">
    </video>
</div>
<!-- Navigation-->
<div class="first align-content-xxl-center size">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top"><img class="logo" src="assets/img/logos/it-v-teacher-logo.png"
                                                          alt="..."/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/login}" href="#services">Login</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/register}" href="#services">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Courses Catalog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#team">Creators</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <!--                <iframe width="560" height="315" src="https://www.youtube.com/embed/EiqFcc_l_Kk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
            <div class="masthead-heading text-uppercase">Welcome To</div>
            <div><img class="logo-size" src="assets/img/logos/it-v-teacher-logo.png"></div>
            <div class="masthead-heading text-uppercase">Platform for online IT technologies tutoring</div>
            <div class="align-content-center">
                <a class="btn btn-primary btn-xl mar-top text-uppercase space-right border-btn" th:href="@{/login}"
                   href="#services"> Log in </a>
                <a class="btn btn-primary btn-xl mar-top text-uppercase border-btn" th:href="@{/register}" href="#services">Register</a>
            </div>
        </div>
    </header>
    <!-- Services-->
    <section class="page-section background" id="services">
        <div class="container">
            <div class="text-center ">
                <h2 class="section-heading text-uppercase">What we provide</h2>
                <h3 class="section-subheading text-muted">You can take advantage of ours bests:</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="my-3">Teachers</h4>
                    <p class="text-muted">Our team is form from the best specialist in every field of work.Most of them
                        are active
                        employees with great experience in one of the biggest IT companies in the world at leading
                        positions.</p>
                </div>
                <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="my-3">Courses</h4>
                    <p class="text-muted">Our courses use the best resources possible.They are interactive and are
                        easily learned
                        by our student.Every course have particular topic and a particular IT technology to master.</p>
                </div>
                <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-user-graduate fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="my-3">Certificates</h4>
                    <p class="text-muted">Upon graduating each course with the needed minimum grade every student
                        receive
                        certificate that is a prove that they mastered a particular IT technology.</p>
                </div>
            </div>
        </div>
    </section>
    </br></br></br></br></br>
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Some of our top courses</h2>
                <h3 class="section-subheading text-muted">Leading IT technologies</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item" data-bs-toggle="">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/java.jpg" alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Java</div>
                            <div class="portfolio-caption-subheading text-muted">The #1 programming language for IoT.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/spring.jpg" alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Spring</div>
                            <div class="portfolio-caption-subheading text-muted">Application framework and IoC container
                                for Java
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 3-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/MariaDB.jpg" alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">MariaDB</div>
                            <div class="portfolio-caption-subheading text-muted">RDBMS</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/thymeleaf.jpg" alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Thymeleaf</div>
                            <div class="portfolio-caption-subheading text-muted">Server-side Java template engine</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- Portfolio item 5-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/html-css.jpg" alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">HTML & CSS</div>
                            <div class="portfolio-caption-subheading text-muted">Standard markup language for Web
                                pages.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Portfolio item 6-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/hibernate.jpg" alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Hibernate</div>
                            <div class="portfolio-caption-subheading text-muted">Object–relational mapping tool for the
                                Java.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="center-btn margin-top margin-bot">
            <form th:action="@{/courses/all}">
                <input class="btn-primary btn-xl border-btn" type="submit" value="ALL COURSES"/>
            </form>
        </div>
    </section>
    </br></br></br></br></br>

    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Telerik Academy Alpha Java A30 Team:06</h3>
            </div>
            <div class="row center">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/team/yordan.jpg" alt="..."/>
                        <h4>Yordan Nikolov</h4>
                        <p class="text-muted">Junior Java Developer</p>
                        <a class="btn btn-dark btn-social mx-2" th:href="@{https://www.instagram.com/yordanbnikolov/}"
                           href="#!"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-dark btn-social mx-2"
                           th:href="@{https://www.facebook.com/profile.php?id=100000269953553}" href="#!"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2"
                           th:href="@{https://www.linkedin.com/in/yordan-nikolov-a32684220/}" href="#!"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/team/petar.jpg" alt="..."/>
                        <h4>Petar Valchev</h4>
                        <p class="text-muted">Junior Java Developer</p>
                        <a class="btn btn-dark btn-social mx-2" th:href="@{https://www.instagram.com/ptrvlch/}"
                           href="#!"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-dark btn-social mx-2" th:href="@{https://www.facebook.com/petar.vulchev.5}"
                           href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2"
                           th:href="@{https://www.linkedin.com/in/petar-valchev-575173147}" href="#!"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="row pad-bot">
                <div class="col-lg-8 mx-auto text-center"><p class="large">You can follow us on:</p></div>
            </div>
        </div>
        <div class="py-xxl-2 logo-center">
            <div class="container ">
                <div class="row">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a th:href="@{https://www.facebook.com/ITVirtualTeacher-110444958050607}" href="#!"><img
                                class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/facebook-logo.png"
                                alt="..."/></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </br></br>

    <!-- Portfolio Modals-->
    <!-- Portfolio item 1 modal popup-->
    <div class="popup portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
                                                                      alt="Close modal"/></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Java Course</h2>
                                <img class="img-fluid d-block mx-auto logo-size-popup"
                                     src="assets/img/portfolio/java.jpg" alt="..."/>
                                <p>Java is the #1 programming language and development platform. It reduces costs,
                                    shortens development timeframes,
                                    drives innovation, and improves application services. With millions of developers
                                    running more than 51 billion
                                    Java Virtual Machines worldwide, Java continues to be the development platform of
                                    choice for enterprises
                                    and developers.Master Java with IT Virtual Teacher course!</p>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                    Close Preview
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 2 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
                                                                      alt="Close modal"/></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Spring Framework Course</h2>
                                <img class="img-fluid d-block mx-auto logo-size-popup"
                                     src="assets/img/portfolio/spring.jpg" alt="..."/>
                                <p>The Spring Framework is an application framework and inversion of control container
                                    for the
                                    Java platform. The framework's core features can be used by any Java application,
                                    but there
                                    are extensions for building web applications on top of the Java EE (Enterprise
                                    Edition) platform.
                                    Although the framework does not impose any specific programming model, it has become
                                    popular
                                    in the Java community as an addition to the Enterprise JavaBeans (EJB) model.
                                    The Spring Framework is open source.</p>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                    Close Preview
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 3 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
                                                                      alt="Close modal"/></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">MariaDB Course</h2>
                                <img class="img-fluid d-block mx-auto logo-size-popup"
                                     src="assets/img/portfolio/MariaDB.jpg" alt="..."/>
                                <p>MariaDB is a community-developed, commercially supported fork of the MySQL relational
                                    database management system (RDBMS), intended to remain free and open-source software
                                    under the GNU General Public License. Development is led by some of the original
                                    developers of MySQL, who forked it due to concerns over its acquisition by Oracle
                                    Corporation in 2009</p>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                    Close Preview
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 4 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
                                                                      alt="Close modal"/></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Thymeleaf Course</h2>
                                <img class="img-fluid d-block mx-auto logo-size-popup"
                                     src="assets/img/portfolio/thymeleaf.jpg" alt="..."/>
                                <p>Thymeleaf is a modern server-side Java template engine for both web and standalone
                                    environments.
                                    Thymeleaf's main goal is to bring elegant natural templates to your development
                                    workflow — HTML
                                    that can be correctly displayed in browsers and also work as static prototypes,
                                    allowing for stronger collaboration in development teams.
                                    With modules for Spring Framework, a host of integrations with your favourite tools,
                                    and the ability to plug in your own functionality, Thymeleaf is ideal for modern-day
                                    HTML5 JVM web development — although there is much more it can do.</p>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                    Close Preview
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 5 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
                                                                      alt="Close modal"/></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">HTML & CSS Course</h2>
                                <img class="img-fluid d-block mx-auto logo-size-popup"
                                     src="assets/img/portfolio/html-css.jpg" alt="..."/>
                                <p>The HyperText Markup Language, or HTML is the standard markup language for documents
                                    designed
                                    to be displayed in a web browser. It can be assisted by technologies such as
                                    Cascading Style Sheets (CSS) and scripting languages such as JavaScript.
                                    Web browsers receive HTML documents from a web server or from local storage
                                    and render the documents into multimedia web pages. HTML describes the structure of
                                    a
                                    web page semantically and originally included cues for the appearance of the
                                    document.</p>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                    Close Preview
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 6 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
                                                                      alt="Close modal"/></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Hibernate Course</h2>
                                <img class="img-fluid d-block mx-auto logo-size-popup"
                                     src="assets/img/portfolio/hibernate.jpg" alt="..."/>
                                <p>Hibernate ORM (or simply Hibernate) is an object–relational mapping tool for the
                                    Java programming language. It provides a framework for mapping an object-oriented
                                    domain model to a relational database. Hibernate handles object–relational impedance
                                    mismatch problems by replacing direct, persistent database accesses with
                                    high-level object handling functions.</p>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                    Close Preview
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
