<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Selected Course</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css"
          th:href="@{../../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{../../../css/sb-admin-2.min.css}" rel="stylesheet"
          type="text/css">

</head>

<body id="page-top">


<div id="wrapper">
    <nav th:replace="user-home-page.html :: user1"></nav>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <nav th:replace="user-home-page.html :: user2"></nav>
        </div>

        <div class="container-fluid position-content">
            <!--insert content-->


            <div class="portfolio-caption">
                <div class="div-image">
                    <img class="img-back"
                         src="https://scontent.fsof8-1.fna.fbcdn.net/v/t1.6435-9/243985659_117093960719040_6114751447206393583_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=tXk6tBtuouQAX9d6R9l&_nc_oc=AQnGBZdoldjUjxiWAjo_BBKS7VrOqPiCCkOCxRdNnPiZ_gVRypNmbdyPSRu4YnJ5Jw0&tn=k7FLxfy0cXbHzoKW&_nc_ht=scontent.fsof8-1.fna&oh=c9cda6e7eeadcc49e8c907616d3dc942&oe=6180BCAB"/>
                </div>

                <div class="centered-2-plus">
                    <div class="header-mar-bottom">
                        <div class="text-center">
                            <h4 class="black margin-bottom-0" th:text="'Title'">Title</h4>
                        </div>
                        <div class="text-center">
                            <h1 class="darkGray" th:text="${lecture.title}">Title</h1>
                        </div>
                    </div>


                    <div class="header-mar-bottom">
                        <div class="text-center">
                            <h4 class="black margin-bottom-0" th:text="'Description'">description</h4>
                        </div>
                        <div class="text-center">
                            <h5 class="darkGray" th:text="${lecture.description}">description</h5>
                        </div>
                    </div>

                    <div th:if="${session.user.userCourses.contains(course)} or ${isAuthorised}"
                         class="header-mar-bottom">
                        <div class="text-center">
                            <h5 class="black margin-bottom-0"
                                th:text="'Assignment status: ' + ${hasUserSubmitted == true ? 'Submitted' : 'Not Yet Submitted'}">
                                sub</h5>
                        </div>
                    </div>

                    <div th:switch="${session.user.userCourses.contains(course)} or ${isAuthorised}">
                        <div th:case="true">
                            <div class="center">
                                <iframe width="700" height="350" th:src="${lecture.videoUrl}" title="Video Lecture"
                                        allowfullscreen></iframe>
                            </div>

                            <div class="header-mar-bottom header-mar-top">
                                <div class="text-center">
                                    <h4 class="black margin-bottom-0" th:text="'Assignment descriotion'">
                                        description</h4>
                                </div>
                                <div class="text-center">
                                    <h4 class="darkGray" th:text="${lecture.assignmentDescription}">description</h4>
                                </div>
                            </div>

                            <br>


                        </div>
                        <div class="center" th:case="false">
                            <a th:href="@{../../../courses/{id}(id=${course.getId()})}">
                                <img
                                        class="img-fluid course-photo-size"
                                        th:src="'https://www.fjuhsd.org/cms/lib/CA02000098/Centricity/Domain/1408/enroll-now.gif'"
                                        th:alt="'Image of Enroll Course Banner'"/>
                            </a>
                        </div>
                    </div>

                    <div th:if="${session.user.userCourses.contains(course)}" class="center">
                        <form th:if="${!hasUserSubmitted}" enctype="multipart/form-data"
                              th:action="@{__${#httpServletRequest.requestURI}__}"
                              th:object="${assignment}" method="post">
                            <input type="file" th:field="*{file}" required/>
                            <button type="submit"
                                    class="btn btn-success btn-border-succsess btn-sm w-sm waves-effect m-t-10 waves-light">
                                Upload
                                Assignment
                            </button>
                        </form>
                    </div>

                </div>

            </div>
            <!--content end-->
        </div>


    </div>
</div>

<!--scroll-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<nav th:replace="user-home-page.html :: user3"></nav>


<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{../../../vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{../../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="../static/js/sb-admin-2.min.js"
        th:src="@{../../../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script type="text/javascript" src="../static/vendor/chart.js/Chart.min.js"
        th:src="@{../../../vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="../static/js/demo/chart-area-demo.js"
        th:src="@{../../../js/demo/chart-area-demo.js}"></script>
<script type="text/javascript" src="../static/js/demo/chart-pie-demo.js"
        th:src="@{../../../js/demo/chart-pie-demo.js}"></script>

</body>

</html>