<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Lecture</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css"
          th:href="@{../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{../../css/sb-admin-2.min.css}" rel="stylesheet"
          type="text/css">

</head>

<body id="page-top">


<div id="wrapper">
    <nav th:replace="user-home-page.html :: user1"></nav>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <nav th:replace="user-home-page.html :: user2"></nav>
        </div>


        <div class="container-fluid">


            <div class="header center">
                <p class="text-center p-mar" style="font-weight: 700;font-size: 2rem"
                   th:text="'Craete Lecture'"></p>
            </div>

            <div>
                <div class="div-image">
                    <img class="img-back"
                         src="https://scontent.fsof8-1.fna.fbcdn.net/v/t1.6435-9/243985659_117093960719040_6114751447206393583_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=tXk6tBtuouQAX9d6R9l&_nc_oc=AQnGBZdoldjUjxiWAjo_BBKS7VrOqPiCCkOCxRdNnPiZ_gVRypNmbdyPSRu4YnJ5Jw0&tn=k7FLxfy0cXbHzoKW&_nc_ht=scontent.fsof8-1.fna&oh=c9cda6e7eeadcc49e8c907616d3dc942&oe=6180BCAB"/>
                </div>


                <div class="centered-2">
                    <form role="form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                          th:object="${lectureDto}" method="post">

                        <div style="margin-top: 2rem" class="text-center">
                            <h2 class="black margin-bot-header-update" th:text="'Title'">Title</h2>
                        </div>
                        <div class="center course-update-margin">
                            <input style="color: black;width: 20rem;height: 2.5rem;border: black 2px solid" type="text"
                                   th:field="*{title}" class="form-control">
                        </div>
                        <label class="error-message" th:errors="*{title}">Title error placeholder</label>

                        <div class="text-center">
                            <h2 class="black margin-bot-header-update" th:text="'Description'">Title</h2>
                        </div>
                        <div class="course-update-margin justify-content-center">
                            <div class="center">
                                <textarea th:field="*{description}" rows="5" cols="50" name="description">Enter course description here...</textarea>
                            </div>
                        </div>
                        <label class="error-message" th:errors="*{description}">Description error placeholder</label>


                        <div style="margin-top: 2rem" class="text-center">
                            <h2 class="black margin-bot-header-update" th:text="'Video URL'">Title</h2>
                        </div>
                        <div class="center course-update-margin">
                            <input style="color: black;width: 20rem;height: 2.5rem;border: black 2px solid" type="text"
                                   th:field="*{videoUrl}" id="Title"
                                   class="form-control">
                        </div>
                        <label class="error-message" th:errors="*{title}">Title error placeholder</label>


                        <div class="text-center">
                            <h2 class="black margin-bot-header-update" th:text="'Assignment Description'">Title</h2>
                        </div>
                        <div class="course-update-margin justify-content-center">
                            <div class="center">
                                <textarea th:field="*{assignmentDescription}" rows="5" cols="50" name="description">Enter course description here...</textarea>
                            </div>
                        </div>
                        <label class="error-message" th:errors="*{assignmentDescription}">Description error placeholder</label>

                        <button class="btn btn-size-update-course btn-size-border btn-primary enroll-text"
                                type="submit">Create Lecture
                        </button>
                    </form>
                </div>


                <!--content end-->
            </div>
        </div>
    </div>

    <!--scroll-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <nav th:replace="user-home-page.html :: user3"></nav>


    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
            th:src="@{../../vendor/jquery/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="../static/vendor/jquery-easing/jquery.easing.min.js"
            th:src="@{../../vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script type="text/javascript" src="../static/js/sb-admin-2.min.js" th:src="@{../../js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script type="text/javascript" src="../static/vendor/chart.js/Chart.min.js"
            th:src="@{../../vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="../static/js/demo/chart-area-demo.js"
            th:src="@{../../js/demo/chart-area-demo.js}"></script>
    <script type="text/javascript" src="../static/js/demo/chart-pie-demo.js"
            th:src="@{../../js/demo/chart-pie-demo.js}"></script>

</body>

</html>