<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rate Selected Course</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css"
          th:href="@{../../../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{../../../../css/sb-admin-2.min.css}" rel="stylesheet"
          type="text/css">

</head>

<body id="page-top">


<div id="wrapper">
    <nav th:replace="user-home-page.html :: user1"></nav>

    <div id="content-wrapper" style="font-weight: 700 !important;" class="d-flex flex-column align-content-center">

        <!-- Main Content -->
        <div id="content">
            <nav th:replace="user-home-page.html :: user2"></nav>

        </div>

        <div class="container-fluid position-content align-content-center">
            <!--insert content-->

            <div class="center buttons-margin-bot">
                <a th:if="${isAuthorised}"
                   style="color: black;border: black 3px solid" class="btn btn-xl margin-left text-uppercase btn-black"
                   th:href="@{/courses/{id}/update(id=${courseToRate.getId()})}" href="#">Modify </a>
                <a th:if="${isAuthorised}"
                   style="color: black;border: black 3px solid" class="btn btn-xl margin-left text-uppercase btn-black"
                   th:href="@{/courses/{id}/upload/picture(id=${courseToRate.getId()})}" href="#">Upload Picture </a>
                <a th:if="${isAuthorised}"
                   style="color: black;border: black 3px solid" class="btn btn-xl margin-left text-uppercase btn-black"
                   th:href="@{/courses/{id}/lectures(id=${courseToRate.getId()})}" href="#">Add Lecture </a>
                <a th:if="${isAuthorised}"
                   style="color: black;border: black 3px solid" class="btn btn-xl margin-left text-uppercase btn-black"
                   th:href="@{/lectures/create}" href="#">Create Lecture </a>
                <a th:if="${isAdmin}"
                   style="color: black;border: black 3px solid" class="btn btn-xl margin-left text-uppercase btn-black"
                   th:href="@{/courseToRate/{id}/delete(id=${courseToRate.getId()})}" href="#">Delete</a>
            </div>

            <div class="grid-container">
                <div class="grid-child center">
                    <img class="img-fluid course-photo-size"
                         th:src="${courseToRate.picture != null ? courseToRate.picture : 'https://leverageedu.com/blog/wp-content/uploads/2019/08/Toughest-Courses-in-the-World.jpg'}"
                         th:alt="'Image of ' + ${courseToRate.title} + 'course logo'"/>
                </div>

                <div class="grid-child">

                    <!--                        TITLE-->
                    <div class="header-mar-bottom">
                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                             class="text-center div-color-gray">
                            <h4 class="darkGray margin-bottom-0" th:text="'Title'">Title</h4>
                        </div>
                        <div class="text-center div-color-gray border-bot-left-right">
                            <h2 class="black" th:text="${courseToRate.title}">Title</h2>
                        </div>
                    </div>
                    <!--                    TOPIC-->
                    <div class="header-mar-bottom">
                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                             class="text-center div-color-gray">
                            <h4 class="darkGray margin-bottom-0" th:text="'Topic'">Title</h4>
                        </div>
                        <div class="text-center div-color-gray border-bot-left-right">
                            <h2 class="black " th:text="${courseToRate.topic.name}">Topic</h2>
                        </div>
                    </div>

                    <!--                    RATING-->
                    <div class="header-mar-bottom">
                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                             class="text-center div-color-gray">
                            <h4 class="darkGray margin-bottom-0" th:text="'Rating'">Title</h4>
                        </div>
                        <div class="text-center div-color-gray border-bot-left-right">
                            <h2 class="black " th:text="${courseToRate.rating}">Rating</h2>
                        </div>
                    </div>

                    <div th:if="${courseToRate.isPublished()}" class="enroll-margin-top">
                        <div>
                            <div th:if="${courseToRate.hasDateOccurred()}">
                                <form th:if="${!session.user.userCourses.contains(courseToRate)}" role="form" action="#"
                                      th:action="@{/users/enroll/course/{id}(id=${courseToRate.getId()})}"
                                      method="post">
                                    <button class="btn btn-size-enroll btn-size-border btn-primary enroll-text"
                                            type="submit">Enroll Course
                                    </button>
                                </form>
                                <div th:if="${session.user.userCourses.contains(courseToRate)}">
                                    <div th:if="${isCourseCompleted}">
                                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                                             class="text-center div-color-gray">
                                            <h4 class="darkGray margin-bottom-0" th:text="'Status'">date</h4>
                                        </div>
                                        <div class="text-center div-color-gray border-bot-left-right">
                                            <h2 class="black " th:text="'Completed'">Starting date</h2>
                                        </div>
                                    </div>
                                    <div th:unless="${isCourseCompleted}">
                                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                                             class="text-center div-color-gray">
                                            <h4 class="darkGray margin-bottom-0" th:text="'Status'">date</h4>
                                        </div>
                                        <div class="text-center div-color-gray border-bot-left-right">
                                            <h2 class="black " th:text="'Enrolled'">Starting date</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:unless="${courseToRate.hasDateOccurred()}">
                                <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                                     class="text-center div-color-gray">
                                    <h4 class="darkGray margin-bottom-0" th:text="'Course release date'">date</h4>
                                </div>
                                <div class="text-center div-color-gray border-bot-left-right">
                                    <h2 class="black " th:text="${courseToRate.startingDate}">Starting date</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${courseToRate.isPublished()}">
                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                             class="text-center div-color-gray">
                            <h4 class="darkGray margin-bottom-0" th:text="'Status'">date</h4>
                        </div>
                        <div class="text-center div-color-gray border-bot-left-right">
                            <h2 class="black " th:text="'Draft'">Starting date</h2>
                        </div>
                    </div>

                </div>


                <div class="grid-child ">
                    <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                         class="text-center div-color-gray ">
                        <h4 class="darkGray margin-bottom-0" th:text="'Teachers'">Title</h4>
                    </div>
                    <div th:if="${courseTeachers.isEmpty()}" class="text-center div-color-gray border-bot-left-right">
                        <h2 class="black "
                            th:text="#{no.teachers.assigned}">no teachers</h2>
                    </div>
                    <div th:unless="${courseTeachers.isEmpty()}"
                         class="text-center div-color-gray border-bot-left-right">
                        <h2 class="black"
                            th:each="user : ${courseTeachers}"
                            th:text="${user.firstName} + ' ' + ${user.lastName}">Teacher</h2>
                    </div>

                </div>

            </div>

            <div class="text-center">
                <h5 class="descr-header-mar-bot" th:text="'Description'">Description</h5>
            </div>

            <div class="center decription-margin justify-content-center">
                <div>
                    <h4 class="darkGray text-center" th:text="${courseToRate.description}">Description</h4>
                </div>
            </div>


            <!--            LECTURES-->
            <hr>

            <h2 style="color: black" class="center" th:text="#{rating.select}">rate course</h2>
            <form class="center" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${rateDto}" method="post">
                <select style="height: 3rem;background: lightblue;border-radius: 10px" th:field="*{rating}">
                    <option th:text="#{rating.select.header}" value="0" selected></option>
                    <option th:value="10" th:text="10">
                    <option th:value="9" th:text="9">
                    <option th:value="8" th:text="8">
                    <option th:value="7" th:text="7">
                    <option th:value="6" th:text="6">
                    <option th:value="5" th:text="5">
                    <option th:value="4" th:text="4">
                    <option th:value="3" th:text="3">
                    <option th:value="2" th:text="2">
                    <option th:value="1" th:text="1">
                    </option>
                </select>
                <button class="btn btn-xl btn-primary text-uppercase"
                        type="submit">Rate Course</button>
            </form>

            <!--content end-->
        </div>


    </div>
</div>

<!--scroll-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<nav th:replace="user-home-page.html :: user3"></nav>


<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{../../../../vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../../../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{../../../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="../static/js/sb-admin-2.min.js"
        th:src="@{../../../../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script type="text/javascript" src="../static/vendor/chart.js/Chart.min.js"
        th:src="@{../../../../vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="../static/js/demo/chart-area-demo.js"
        th:src="@{../../../../js/demo/chart-area-demo.js}"></script>
<script type="text/javascript" src="../static/js/demo/chart-pie-demo.js"
        th:src="@{../../../../js/demo/chart-pie-demo.js}"></script>

</body>

</html>