<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" th:href="@{../css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<!--<div class="wallpaper video">-->
<!--    <video autoplay muted loop id="myVideo2">-->
<!--        <source th:src="@{/video/matrix.mp4}" src="../static/video/matrix.mp4" type="video/mp4">-->
<!--    </video>-->
<!--</div>-->
<div class="wallpaper video">
    <video autoplay muted loop id="myVideo">
        <source th:src="@{/video/video-background.mp4}" src="../static/video/video-background.mp4" type="video/mp4">
    </video>
</div>
<div class="container mar-top">
    <div class="card o-hidden border-0 shadow-lg border">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${student}"
                              method="post">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" th:field="*{firstName}" class="form-control form-control-user"
                                           id="exampleFirstName" placeholder="First Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{lastName}" class="form-control form-control-user"
                                           id="exampleLastName" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" th:field="*{email}" class="form-control form-control-user"
                                       id="exampleInputEmail" placeholder="Email Address">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" th:field="*{password}" class="form-control form-control-user"
                                           id="exampleInputPassword" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" th:field="*{confirmPassword}"
                                           class="form-control form-control-user" id="exampleRepeatPassword"
                                           placeholder="Repeat Password">
                                </div>
                            </div>
                            <div class="form-group justify-content-center">
                                <select class="select-size border-radius form-control" th:field="*{roleId}">
                                    <option th:text="#{role.select}" value="0" selected></option>
                                    <option th:each="role : ${allowedRolesForRegistration}"
                                            th:value="${role.id}"
                                            th:text="${role.name}"
                                            id="Topic">
                                    </option>
                                </select>
                            </div>
                            <div class="grid-container">
                                <div class="form-group row ">
                                    <div class="col-sm-6 ">
                                        <input type="submit" class="btn-radius btn btn-primary btn-reg"
                                               value="REGISTER">
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="text-center">
                            <a class="small" th:href="@{/login}" href="login.html">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>

</html>