<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User page</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css"
          th:href="@{../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{../css/sb-admin-2.min.css}" rel="stylesheet"
          type="text/css">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:fragment="user1" class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}" href="index.html">
<!--            <div class="sidebar-brand-icon rotate-n-15">-->
<!--                <i class="far fa-lightbulb color-yellow"></i>-->
<!--            </div>-->
            <div class="sidebar-brand-text mx-3 color-yellow">IT Virtual Teacher</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/users/page}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-clone"></i>
                <span>My Courses</span></a>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">View courses:</h6>

                    <a class="collapse-item" th:href="@{/users/courses/enrolled}" href="#">Enrolled</a>
                    <a class="collapse-item" th:href="@{/users/courses/completed}" href="#">Completed</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/users/courses/all}">
                <i class="fas fa-folder-open"></i>
                <span>All Courses</span></a>
        </li>

        <hr th:if="${isAuthorised}" class="sidebar-divider">

        <li th:if="${isAuthorised}" class="nav-item">
            <a class="nav-link" th:href="@{/courses/create}">
                <i class="fas fa-edit"></i>
                <span>Create course</span></a>
        </li>

        <hr th:if="${isAuthorised}" class="sidebar-divider">

        <li th:if="${isAuthorised}" class="nav-item">
            <a class="nav-link" th:href="@{/users/all}">
                <i class="fas fa-users"></i>
                <span>All Student</span></a>
        </li>

        <hr th:if="${isAdmin}" class="sidebar-divider">

        <li th:if="${isAuthorised}" class="nav-item">
            <a class="nav-link" th:href="@{/courses/assignments}">
                <i class="fas fa-pencil-alt"></i>
                <span>Grade Assignments</span></a>
        </li>

        <hr th:if="${isAdmin}" class="sidebar-divider">

        <li th:if="${isAdmin}" class="nav-item">
            <a class="nav-link" th:href="@{/users/approve}">
                <i class="fas fa-check"></i>
                <span>Approve requests</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="/assets/img/logos/it-v-teacher-logo.png"
                 alt="IT Virtual Teacher logo">
            <p class="text-center mb-2"><strong>IT Virtual Teacher</strong> is the best IT tutoring online platform!
                Follow us on: </p>
            <a th:href="@{https://www.facebook.com/ITVirtualTeacher-110444958050607}" href="#!"><img
                    class="img-fluid img-brand d-block mx-auto" src="/assets/img/logos/facebook-logo.png"
                    alt="Facebook logo"/></a>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content p-text-user-page">


            <!-- Topbar -->
            <nav th:fragment="user2"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">


                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p class="mr-2 d-none d-lg-inline text-gray-600 small"
                               th:text="${session.user.firstName} +' '+ ${session.user.lastName}"></p>
                            <img class="img-profile rounded-circle"
                                 th:src="${session.user.getProfilePicture() != null ? session.user.getProfilePicture() : 'https://www.pngarts.com/files/10/Default-Profile-Picture-PNG-Free-Download.png'}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/users/{id}/update(id=${session.user.getId()})}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid container ">

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class=" col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2 text-center">
                                        <div class="text-center margin-bot-user-home font-weight-bold text-primary text-uppercase">
                                            active students
                                        </div>
                                        <h2 class="text-center p-text mb-0 font-weight-bold text-gray-800" th:text="${allStudents}"></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2 text-center">
                                        <div class="text-center margin-bot-user-home font-weight-bold text-success text-uppercase">
                                            active courses
                                        </div>
                                        <h2 class="text-center p-text mb-0 font-weight-bold text-gray-800" th:text="${activeCourses}"></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center p-text">
                                    <div class="col mr-2 text-center">
                                        <div class="text-center margin-bot-user-home font-weight-bold text-success text-uppercase">
                                            available lectures
                                        </div>
                                        <h2 class="text-center p-text mb-0 font-weight-bold text-gray-800" th:text="${allLectures}"></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters text-center">
                                    <div class="col mr-2">
                                        <div class="text-center font-weight-bold text-warning text-uppercase mb-1">
                                            Date and Time now
                                        </div>
                                        <div style="text-align:center;padding:0em 0;"><iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=small&timezone=Europe%2FSofia" width="100%" height="90" frameborder="0" seamless></iframe> </div>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-image">
                    <img class="img-back" src="https://scontent.fsof11-1.fna.fbcdn.net/v/t1.6435-9/244318983_116762727418830_8176176675864824374_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=e3f864&_nc_ohc=Mo5sd0jxbDwAX8AktIw&_nc_ht=scontent.fsof11-1.fna&oh=cb2e3884351f5716509b8fc2296f8c8c&oe=617E926B"/>
                </div>

                <!-- Page Heading -->


            </div>

            <p class="p-text-user-page centered-1" th:text="'Hey, welcome back'"></p>
            <p class="p-text-user-page-name centered-2" th:text="${session.user.getFirstName()} + ' ' +${session.user.getLastName()}"></p>
            <p class="p-text-user-page centered-3" th:text="'Study hard , work harder and '"></p>
            <p class="p-text-user-page centered-4" th:text="'succseed you will!'"></p>

            <!-- End of Main Content -->
        </div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button        COPY-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:fragment="user3" class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{../vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="../static/js/sb-admin-2.min.js" th:src="@{../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script type="text/javascript" src="../static/vendor/chart.js/Chart.min.js"
        th:src="@{../vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="../static/js/demo/chart-area-demo.js"
        th:src="@{../js/demo/chart-area-demo.js}"></script>
<script type="text/javascript" src="../static/js/demo/chart-pie-demo.js"
        th:src="@{../js/demo/chart-pie-demo.js}"></script>

</body>

</html>