<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Enrolled Courses</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css"
          th:href="@{../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{../../css/sb-admin-2.min.css}" rel="stylesheet"
          type="text/css">

</head>

<body id="page-top">


<div id="wrapper">
    <nav th:replace="user-home-page.html :: user1"></nav>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <nav th:replace="user-home-page.html :: user2"></nav>

        </div>

        <div style="margin-bottom: 30px" class="header center">
            <p class="text-center p-mar" style="font-weight: 700;font-size: 2rem" th:text="'Enrolled Courses'"></p>
        </div>

        <div class="container-fluid">
            <!--insert content-->

            <h1 style="margin-top: 8rem" class="text-center" th:if="${enrolledCoursesUncompleted.isEmpty()}" th:text="'You have not enrolled any courses.'"></h1>


            <div class="row">
                <div th:each="enrolledCourse : ${enrolledCoursesUncompleted}" class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->

                    <div class="course-border">
                        <a th:href="@{../../courses/{id}(id=${enrolledCourse.course.getId()})}">
                            <div class="center">
                                <img class="img-fluid img-max-size"
                                     th:src="${enrolledCourse.course.picture != null ? enrolledCourse.course.picture : 'https://leverageedu.com/blog/wp-content/uploads/2019/08/Toughest-Courses-in-the-World.jpg'}"
                                     alt="'Image of ' + ${course.title} + 'course logo'"/>
                            </div>
                        </a>


                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                             class="text-center">
                            <h6 class="darkGray margin-bottom-0 padding-header-top font-h" th:text="'Title'">Title</h6>
                        </div>
                        <div class="text-center border-bot-left-right">
                            <h4 class="black font-h" th:text="${enrolledCourse.course.title}">Title</h4>
                        </div>
                        <hr>
                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                             class="text-center">
                            <h6 class="darkGray margin-bottom-0 font-h" th:text="'Topic'">topic</h6>
                        </div>
                        <div class="text-center border-bot-left-right">
                            <h4 class="black font-h" th:text="${enrolledCourse.course.topic.name}">topic</h4>
                        </div>
                        <hr>
                        <div style="border-top-left-radius: 8px;border-top-right-radius: 8px"
                             class="text-center">
                            <h6 class="darkGray margin-bottom-0 font-h" th:text="'Rating'">rating</h6>
                        </div>
                        <div class="text-center border-bot-left-right">
                            <h4 class="black font-h" th:text="${enrolledCourse.course.rating}">rating</h4>
                        </div>
                    </div>

                </div>


            </div>

            <!--content end-->
        </div>
    </div>
</div>

<!--scroll-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<nav th:replace="user-home-page.html :: user3"></nav>


<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{../../vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../static/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="../static/js/sb-admin-2.min.js" th:src="@{../../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script type="text/javascript" src="../static/vendor/chart.js/Chart.min.js"
        th:src="@{../../vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="../static/js/demo/chart-area-demo.js"
        th:src="@{../../js/demo/chart-area-demo.js}"></script>
<script type="text/javascript" src="../static/js/demo/chart-pie-demo.js"
        th:src="@{../../js/demo/chart-pie-demo.js}"></script>

</body>

</html>