<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:clor="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>User Profile page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="text-center card-box">
                <div class="member-card">
                    <div class="thumb-xl member-thumb m-b-10 center-block">
                        <img class="img-circle img-thumbnail" alt="profile-image"
                             th:src="${userToView.profilePicture != null ? userToView.profilePicture : 'https://www.pngarts.com/files/10/Default-Profile-Picture-PNG-Free-Download.png'}">
                        <!--            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-circle img-thumbnail" alt="profile-image">-->
                    </div>

                    <div class="">
                        <h4 class="m-b-5" th:text="${userToView.firstName}">John J. Doe</h4>
                    </div>

                    <div class="text-left m-t-40">
                        <p th:text="'Full Name: ' + ${userToView.firstName} +' '+ ${userToView.lastName}"
                           class="text-muted font-13"><strong>Full Name :</strong> <span
                                class="m-l-15">Johnathan Deo</span>
                        </p>
                        <p th:text="'Phone num: ' + ${userToView.phoneNumber != null ? userToView.phoneNumber : 'not set'}"
                           class="text-muted font-13"><strong>Mobile :</strong><span
                                class="m-l-15">(123) 123 1234</span>
                        </p>
                        <p th:text="'Email: ' + ${userToView.email}" class="text-muted font-13">
                            <strong>Email :</strong> <span class="m-l-15">johndoe@bootdey.com</span></p>
                    </div>

                    <!--                    <ul class="social-links list-inline m-t-30">-->
                    <!--                        <li>-->
                    <!--                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"-->
                    <!--                               href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"-->
                    <!--                               href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"-->
                    <!--                               href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>-->
                    <!--                        </li>-->
                    <!--                    </ul>-->
                </div>
            </div> <!-- end card-box -->

        </div> <!-- end col -->


        <div class="col-md-8 col-lg-9">
            <div class="">
                <div class="">
                    <ul class="nav nav-tabs navtab-custom">
                        <li class="">
                            <a href="#home" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-user"></i></span>
                                <span class="hidden-xs">ABOUT ME</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#grades" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-user"></i></span>
                                <span class="hidden-xs">USER GRADES</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#profile" data-toggle="tab" aria-expanded="true">
                                <span class="visible-xs"><i class="fa fa-photo"></i></span>
                                <span class="hidden-xs">USER COURSES</span>
                            </a>
                        </li>
                        <li style="margin-left: 23.9rem;background: lightgray;border-top: red 2px solid" class="">
                            <a th:href="@{/users/page}" th:text="'BACK TO DASHBOARD'">
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="home">
                            <p class="m-b-5" th:text="${userToView.aboutUser}"></p>

                        </div>
                        <div class="tab-pane" id="grades">

                            <div class="m-t-30">
                                <h4 th:if="${completeCourses.isEmpty()}"
                                    th:text="'There are no completed courses.'"></h4>
                                <h4 th:unless="${completeCourses.isEmpty()}">Course Grades</h4>

                                <div th:each="enrolledCourse : ${completeCourses}" class="row">
                                    <div th:if="${enrolledCourse.finalGrade != 0}" class="text-center">
                                        <div style="background: white;width: 75rem;display: flex;justify-content: center;margin-left: 5rem;padding-top: 1.2rem;padding-bottom: 1.2rem;border-radius: 15px;border: blue 2 px solid"
                                             class="p-t-10">
                                            <div style="display: flex;justify-content: center;margin-left: 10rem">
                                                <div style="display: inline-block">
                                                    <a th:href="@{../../courses/{id}(id=${enrolledCourse.course.getId()})}"
                                                       href="#"
                                                       class="image-popup img-restriction">
                                                        <img style="height: 15rem"
                                                             class="img-fluid course-photo-size-profile"
                                                             th:src="${enrolledCourse.course.picture != null ? enrolledCourse.course.picture : 'https://leverageedu.com/blog/wp-content/uploads/2019/08/Toughest-Courses-in-the-World.jpg'}"
                                                             th:alt="'Image of ' + ${enrolledCourse.course.title} + 'course logo'"/>
                                                    </a>
                                                </div>

                                                <div style="display: inline-block;margin-left: 5rem;">

                                                    <div style="">
                                                        <h4 style="color: black;" class="text-center"
                                                            th:text="'Course: ' + ${enrolledCourse.course.title}"></h4>
                                                        <h4 style="color: black" class="text-center"
                                                            th:text="'Final Grade: ' + ${#numbers.formatDecimal(enrolledCourse.finalGrade,0,2)}"></h4>

                                                        <div class="row" th:each="assignment : ${userAssignments}">
                                                            <h4 style="color: black" class="text-center"
                                                                th:if="${assignment.course.title.equals(enrolledCourse.course.title)}"
                                                                th:text="'Lecture: ' + ${assignment.lecture.title} + '- Grade: ' + ${#numbers.formatDecimal(assignment.userGrade,0,2)}">
                                                                <b></b></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <hr>
                                        </div>
                                    </div>
                                    <div th:unless="${enrolledCourse.finalGrade != 0}" class="text-center">
                                      <h4 th:if="${completeCourses.isEmpty()}"
                                          th:text="'There are no graded courses.'"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="profile">
                            <div class="row">
                                <h4 th:if="${userToView.userCourses.isEmpty()}"
                                    th:text="'There are no enrolled courses.'"></h4>

                                <div th:each="course : ${userToView.userCourses}" class="col-sm-4">

                                    <div class="gal-detail thumb img-restriction">
                                        <a th:href="@{../../courses/{id}(id=${course.getId()})}" href="#"
                                           class="image-popup img-restriction">
                                            <img th:src="${course.picture != null ? course.picture : 'https://leverageedu.com/blog/wp-content/uploads/2019/08/Toughest-Courses-in-the-World.jpg'}"
                                                 alt="'Image of ' + ${course.title} + 'course logo'" class="thumb-img">
                                        </a>
                                        <h4 class="text-center" th:text="${course.title}">Course Name</h4>
                                        <div class="ga-border"></div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>

<style type="text/css">
    body {
        margin-top: 20px;
        background: url("https://scontent.fsof8-1.fna.fbcdn.net/v/t1.6435-9/243985659_117093960719040_6114751447206393583_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=zbJLvXJxKWkAX80fPra&_nc_oc=AQmVWS_zvQj3aG12d19EOmn1Ax1Wha5x4av_S769Ivptu7HrHmVhCLioVl6u1grhPZk&_nc_ht=scontent.fsof8-1.fna&oh=b74664c5975e2033ea9dd10622232e0d&oe=6180BCAB") center;
        background-size: cover;
    }

    /* ===========
       Profile
     =============*/
    .card-box {
        padding: 20px;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06), 0 2px 0 0 rgba(0, 0, 0, 0.02);
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-clip: padding-box;
        margin-bottom: 20px;
        background-color: lightgray;
    }

    .header-title {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.04em;
        line-height: 16px;
        margin-bottom: 8px;
    }

    .social-links li a {
        -webkit-border-radius: 50%;
        background: #EFF0F4;
        border-radius: 50%;
        color: #7A7676;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 30px;
    }

    /* ===========
       Gallery
     =============*/
    .portfolioFilter a {
        -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.3s ease-out;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
        color: #333333;
        padding: 5px 10px;
        display: inline-block;
        transition: all 0.3s ease-out;
    }

    .portfolioFilter a:hover {
        background-color: #228bdf;
        color: #ffffff;
    }

    .portfolioFilter a.current {
        background-color: #228bdf;
        color: #ffffff;
    }

    .thumb {
        background-color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        margin-top: 30px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        width: 100%;
    }

    .thumb-img {
        border-radius: 2px;
        overflow: hidden;
        width: 100%;
    }

    .gal-detail h4 {
        margin: 16px auto 10px auto;
        width: 80%;
        white-space: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .gal-detail .ga-border {
        height: 3px;
        width: 40px;
        background-color: #228bdf;
        margin: 10px auto;
    }

    .img-restriction {
        width: 100%;
        max-width: 200px;
        height: 100%;
        max-height: 160px;
    }


    .tabs-vertical-env .tab-content {
        background: #ffffff;
        display: table-cell;
        margin-bottom: 30px;
        padding: 30px;
        vertical-align: top;
    }

    .tabs-vertical-env .nav.tabs-vertical {
        display: table-cell;
        min-width: 120px;
        vertical-align: top;
        width: 150px;
    }

    .tabs-vertical-env .nav.tabs-vertical li.active > a {
        background-color: #ffffff;
        border: 0;
    }

    .tabs-vertical-env .nav.tabs-vertical li > a {
        color: #333333;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        white-space: nowrap;
    }

    .nav.nav-tabs > li.active > a {
        background-color: lightgray;
        border: 0;
    }

    .nav.nav-tabs > li > a {
        background-color: transparent;
        border-radius: 0;
        border: none;
        color: #333333 !important;
        cursor: pointer;
        line-height: 50px;
        font-weight: 500;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Roboto', sans-serif;
    }

    .nav.nav-tabs > li > a:hover {
        color: #228bdf !important;
    }

    .nav.tabs-vertical > li > a {
        background-color: transparent;
        border-radius: 0;
        border: none;
        color: #333333 !important;
        cursor: pointer;
        line-height: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav.tabs-vertical > li > a:hover {
        color: #228bdf !important;
    }

    .tab-content {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        color: #777777;
    }

    .nav.nav-tabs > li:last-of-type a {
        margin-right: 0px;
    }

    .nav.nav-tabs {
        border-bottom: 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    .navtab-custom li {
        margin-bottom: -2px;
    }

    .navtab-custom li a {
        border-top: 2px solid transparent !important;
    }

    .navtab-custom li.active a {
        border-top: 2px solid #228bdf !important;
    }

    .nav-tab-left.navtab-custom li a {
        border: none !important;
        border-left: 2px solid transparent !important;
    }

    .nav-tab-left.navtab-custom li.active a {
        border-left: 2px solid #228bdf !important;
    }

    .nav-tab-right.navtab-custom li a {
        border: none !important;
        border-right: 2px solid transparent !important;
    }

    .nav-tab-right.navtab-custom li.active a {
        border-right: 2px solid #228bdf !important;
    }

    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus,
    .tabs-vertical-env .nav.tabs-vertical li.active > a {
        border: none;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover,
    .tabs-vertical > li.active > a,
    .tabs-vertical > li.active > a:focus,
    .tabs-vertical > li.active > a:hover {
        color: #228bdf !important;
    }

    .nav.nav-tabs + .tab-content {
        background: lightgray;
        margin-bottom: 20px;
        padding: 20px;
    }

    .progress.progress-sm .progress-bar {
        font-size: 8px;
        line-height: 5px;
    }


</style>

<script type="text/javascript">

</script>
</body>
</html>